[flake8]
disable-noqa
exclude = .git, .hg, __pycache__, urpc/builder/library/resources/vendor/liburpc, venv
max-complexity = 14
inline-quotes = double
multiline-quotes = """
builtins = _
ignore = Q003, A001, F401, F403
verbose = 2
max-line-length = 120
