{% extends "help.html" %}

{% block help %}

<h2>Python биндинги (генерируется uRPC)</h2>
<i>Требует: сгенерированной <a href="/helplibrary">библиотеки</a></i>
<h4>Описание</h4>
<p align="justify">
Python биндинги - это файлы Python, которые позволяют общаться с устройством на языке Python. По сути это python
обёртка для библиотеки, написанной на C.
Результатом работы этого генератора является py файл (имя_протокола).py.
В файле (имя_проекта).py описаны все константы библиотеки, структуры данных и класс DeviceHandle,
с объектами которого можно общаться как с устройством
<h4> Инструкция по сборке и запуску</h4>

<p align="justify">
Python файл не требует сборки. Просто поместите собранную библиотеку рядом с файлом .py из сгенерированного uRPC
    архива.
</p>
<p><i>Не забудьте, что битность собранной библиотеки и битность вашего интерпретатора должны совпадать</i></p>
<p align="justify"> Пример работы с биндингом</p>
Пусть в протоколе устройства Foo есть команда supercommand, и устройство подключено к порту 42.
    Тогда из python команду можно вызвать так:

    <pre><code class="python">
        from foo import FooDeviceHandle

        dev = FooDeviceHandle("com:\\.\COM42")
        dev.supercommand()

        dev.close()

    </code></pre>
</p>

{% end %}