{% extends "help.html" %}

{% block help %}

<h1>C#-биндинги</h1>
<i>Требуется: сгенерированная <a href="/helplibrary">библиотека</a></i>

<h3>Описание</h3>
<img src="{{static_url('img/URPC_csharp_binding.png')}}"/>
<p>
    C#-биндинги генерируется с помощью кнопки Generate в разделе Bildings.<br/>
    <br/>
    C#-биндинги - это файлы C# (.cs), которые позволяют общаться с устройством на языке C#. По сути это C#-обёртка для
    библиотеки, написанной на C. Результатом работы этого генератора является файл <code>(имя_протокола).cs</code>. В
    файле <code>(имя_проекта).cs</code> описаны все константы библиотеки, структуры данных и методы для вызова команд и
    аксессоров.
</p>

<h3>Инструкция по сборке и запуску</h3>
<p>
    Файл C# не требует отдельной сборки. Просто добавьте собранную библиотеку и файл .cs из сгенерированного uRPC
    архива в ваш проект Microsoft Visual C#.
</p>

<h3>Пример работы с биндингом</h3>
    <p>
        Пусть в протоколе устройства Foo есть команда supercommand, и устройство подключено к порту 42. Тогда пример
        консольной программы C#, которая открывает устройство и вызывает эту команду, будет таким:</p>
    <pre><code class="с#">
        using System;
        using System.Collections.Generic;
        using System.Linq;
        using System.Text;
        using System.Threading.Tasks;
        using foo;

        namespace ConsoleApplication1
        {
            class Program
            {
                static void Main(string[] args)
                {
                    int device_id = foo.API.foo_open_device("com:///COM42");

                    foo.API.foo_supercommand(device_id);

                    foo.API.foo_close_device(ref device_id);
                }
            }
        }
    </code></pre>
</p>

{% end %}