{% extends "help.html" %}

{% block help %}


<h2>Создание проекта</h2>
<h3>1. Задать название проекта</h3>
<p>Придумать и задать название проекта, версию и нажать Update</p>
<p><img src="{{static_url('img/URPC_project_name.png')}}" alt="" /></p>
<h3>2. Создать команды.</h3>
<h4>2.1. Определить команду</h4>
<p><img src="{{static_url('img/URPC_command_create.png')}}" alt="" /></p>
<p><strong><span class="caps">CID</span></strong> &#8211; это 4-буквенный <strong>идентификатор</strong>, который <strong>должен быть уникальным</strong> для каждой команды. <span class="caps">CID</span> не чувствителен к регистру, поэтому <span class="caps">MYID</span> и myId &#8211; это один и тот же идентификатор.</p>
<p><strong>Name</strong> &#8211; это имя команды (такое же имя будет у функции вызова этой команды, а также будет включено в имена типов данных, связанных с этой командой). Рекомендуется писать имя команды в <strong>snake_case</strong>.</p>
<h4>2.2. Добавить описание команд</h4>
<p>После добавления команды нажать <strong>Edit</strong> и <strong>добавить описание команды</strong> на русском и английском языках в блоке <strong>Edit command properties</strong> в полях <strong>english</strong> и <strong>russian</strong>.</p>
<h4>2.3. Добавить аргументы запроса и ответа команды</h4>
<p><img src="{{static_url('img/URPC_command_args_params.png')}}" alt="" /></p>
<p><strong>Name</strong> &#8211; имя аргумента. После генерации проекта к аргументам можно будет обращаться как к полям структуры по их именам. Рекомендуется писать имена аргументов в <strong>CamelCase</strong>. </p>
<p><strong>Length</strong> &#8211; длина массива. Если <strong>оставить это поле пустым</strong>, то аргумент <strong>будет обычной переменой</strong>. Если в поле Length <strong>указать число</strong>, то данный аргумент будет представлять собой <strong>массив</strong> из Length элементов.</p>
<p>Суммарная длина всех аргументов команды не должна превышать 250 байт.</p>
<p>Обработка команд производится с учётом их размера в байтах. Поэтому для обеспечения обратной совместимости с последующими версиями протокола необходимо, чтобы размер команды оставался постоянным. Для этого рекомендуется обеспечить запас по размеру команды путём добавления массива reserved.<br />
        Пример:</p>
<pre><code class="c">
typedef struct
{
  uint8_t foo;
  uint8_t reserved[41];
}
my_command_v1;
// sizeof(my_command_v1) = 1 + 41 = 42

typedef struct
{
  uint8_t foo;
  uint8_t bar[3];
  uint8_t reserved[38];
}
my_command_v1;
// sizeof(my_command_v2) = 1 + 3 + 38 = 42 = sizeof(my_command_v1)
</code></pre>
<h4>2.4. Добавить <strong>описания аргументов</strong> на русском и английском</h4>
<p>Для этого нужно нажать на кнопку <strong>Edit</strong> рядом с соответствующим аргументом в списке.  </p>
<h4>2.5 Добавить константы</h4>
<p>В случае, если какой-то из аргументов будет представлять собой некоторый набор флагов, или же просто требуется определить универсальный набор констант для прошивки МК и программы для ПК, к каждому из аргументов можно создать набор констант, который будут зафиксированы в виде макроопределений в соответствующих заголовочных файлах.</p>
<p>Имена констант рекомендуется писать в верхнем регистре.</p>
<h3>3. Добавить аксессоры</h3>
<p>Чтобы добавить аксессоры, нужно перейти на главную страницу проекта. Это можно сделать, кликнув по ссылке Home слева вверху.</p>
<h4>3.1. Определить аксессор</h4>
<p><img src="{{static_url('img/URPC_accessor_create.png')}}" alt="" /></p>
<p><strong><span class="caps">AID</span></strong> &#8211; это 3-буквенный <strong>идентификатор</strong>, который <strong>должен быть уникальным</strong> для каждого аксессора.<br />
    <span class="caps">AID</span> также не должен пересекаться с идентификаторами команд в формате G&lt;<span class="caps">AID</span>&gt; и S&lt;<span class="caps">AID</span>&gt;. То есть нельзя создавать аксессор с идентификатором <span class="caps">MID</span>, если уже определена команда с идентификатором <span class="caps">GMID</span> или <span class="caps">SMID</span>.<br />
    <span class="caps">AID</span> не чувствителен к регистру, поэтому <span class="caps">MID</span> и mId &#8211; это один и тот же идентификатор.</p>
<p><strong>Name</strong> &#8211; это имя аксессора (такое же имя будет у функции вызова этого аксессора, а также будет включено в имена типов данных, связанных с этим аксессором). Рекомендуется писать имя команды в <strong>snake_case</strong>.</p>
<p>Если аксессор создаётся только для того, чтобы обеспечить существование хотя бы одного аксессора в проекте, в поле <strong>Name</strong> рекомендуется задать имя <strong>dummy</strong>.</p>
<h4>3.2. Добавить описание аксессоров</h4>
<p>После добавления аксессора нажать <strong>Edit</strong> и <strong>добавить описание аксессора</strong> на русском и английском языках в блоке <strong>Edit accessor properties</strong> в полях <strong>english</strong> и <strong>russian</strong>.</p>
<h4>3.3. Добавить аргументы аксессора</h4>
<p><strong>Важно!</strong> для корректной работы аксессор должен содержать <strong>хотя бы один аргумент</strong></p>
<p>Процесс добавления аргументов аксессоров аналогичен добавлению аргументов команд. </p>
<h4>3.4. Добавить константы</h4>
<p>Константы аргументов аксессоров аналогичны константам аргументов команд. </p>
<h3>4. Сгенерировать исходный код проекта</h3>
<p>Чтобы сгенерировать исходный код, нужно перейти на главную страницу проекта. Это можно сделать, кликнув по ссылке Home слева вверху.</p>
<h4>4.1. Сгенерировать исходный код прошивки для МК</h4>
<p>На панели справа в разделе <strong>Firmware</strong> из выпадающего списка <strong>выбрать микроконтроллер</strong> и нажать <strong>Generate</strong>.<br />
    Сохранить архив с кодом.</p>
<h4>4.2 Сгенерировать код библиотеки</h4>
<p>На панели справа в разделе <strong>Library</strong> нажать <strong>Generate</strong>.<br />
    Сохранить архив с кодом.</p>
<h4>4.3 Сохранить параметры проекта</h4>
<p>На панели справа в разделе <strong>Project</strong> нажать <strong>Save</strong>.<br />
    Сохранить <span class="caps">JSON</span>-файл.</p>

{% end %}