{% extends "help.html" %}

{% block help %}

<h1>Qt-отладчик</h1>
<p>Qt-отладчик генерируется с помощью кнопки <b>Qt Debugger</b></p>
<p>Для сборки требуется: сгенерированная и собранная <a href="/helplibrary">библиотека и библиотека xibridge</a></p>

<h3>Описание</h3>
<p>По описанию протокола генератор способен создать программу-дебаггер с графическим интерфейсом. Эта программа
    позволяет взаимодействовать (отправлять команды, смотреть результат) с реальным и виртуальным устройством,
    работающим по данному протоколу.
    В сгенерированном архиве лежат исходные коды этой программы и проект для сборки
</p>

<h2>Инструкция по сборке qt-отладчика</h2>
<h3>Сборка под Windows</h3>
<h4>Подготовка</h4>
<ol>
    <li>Загрузить Qt 4.8.x с официального сайта или с нашего <a href="https://download.urpc.kea.su/qt_debugger/qt486_msvc2013_full.7z">сервера</a>.</li>
    <li>Установить Qt на диск C так, чтобы путь до бинарных файлов имел следующий вид <code>C:\Qt\msvc2013\4.8.6_x64\bin\</code>  для x64 и 
    <code>C:\Qt\msvc2013\4.8.6\bin\</code> для x32 .</li>
    <li><a href="https://msdn.microsoft.com/ru-ru/library/office/ee537574.aspx" target="_blank">Прописать в системные пути</a>: каталог <code>C:\Qt\msvc2013\4.8.6_x64\bin\</code></li>
</ol>
<h4>Сборка</h4>
<ol>
    <li>Загрузить с сайта и распаковать архив с исходным кодом отладчика.</li>
    <li>Положить в каталог проекта файлы <code>&lt;имя_проекта&gt;.dll</code>, xibridge.dll, <code>&lt;имя_проекта&gt;.lib</code>, <code>&lt;имя_проекта&gt;.h</code> от предварительно скомпилированной библиотеки.</li>
	<li>Открыть CMake GUI и выбрать папку с проектом (по аналогии со сборкой <a href="/helplibrary" target="_blank">библиотеки</a>).</li>
    <li>Cконфигурировать проект для MSVC 2013(необходимо выбрать такую же платформу, как и при сборке библиотеки - Win32 или x64).</li>
    <li>Cгенерировать проект.</li>
    <li>Открыть в Visual Studio сгенерированный CMake-ом файл <code>uRPC_debugger.vcxproj</code>.</li>
    <li>Скомпилировать</li>
	<li>Запустить собранный файл</li>
</ol>
<h3>Сборка под Linux</h3>
<ol>
    <li>Установить всё необходимое: qt4, cmake, make:
    <p><font face = "Terminal">sudo apt-get install libqt4-dev build-essential cmake</font>
   	</p>
	</li>
    <li>В каталоге (имя каталога не должно содержать круглых скобок) с распакованным архивом qt-отладчика запустить cmake:
    <p><font face = "Terminal">
        cmake CMakeLists.txt
        </font>
    </p>
    <li>Не забудьте поместить заголовочный файл <имя библиотеки>.h и файл библиотеки <имя библиотеки>.so от
    предварительно собранной библиотеки, а также libxibridge.so в каталог с распакованным архивом qt-отладчика</li>
    <li>Запустить make:
    <p><font face = "Terminal">
        make
    </font>
    </p>

    <li>Дождаться окончания сборки</li>
    <li>Запустить программу, предварительно добавив в переменную окружения путь к библиотеке:
    <p>
        <font face = "Terminal">
        export LD_LIBRARY_PATH=$LD_LIBRARY_PATH:`pwd`<p></p>
        ./uRPC_debugger
        </font>
    </p>
    Заметьте, для работы с реальным устройством могут потребоваться права root. </li>
</ol>
<i><p>Уточнение для Ubuntu 20.04</p>
    <p> Ubuntu 20.04 не поддерживает Qt4. Для установки пакета нужно сначала выполнить </i><font face = "Terminal">sudo add-apt-repository ppa:rock-core/qt4</font>
	   <i>,а уже затем </i><font face = "Terminal">sudo apt-get install libqt4-dev</font>.</p>
<h3>Запуск и работа с программой</h3>
<ul>
    <li>Для работы программы требуется &lt;имя_проекта&gt;.dll и dll-ки от Qt (если Qt прописана в системные пути, то
        Qt-шные библиотеки должны найтись сами). <br />
        Под linux потребуются библиотеки .so. Путь к библиотеке должен быть прописан в переменной окружения
        LD_LIBRARY_PATH (см. выше "Сборка под linux"). В некоторых версиях linux после копирования библиотеки
        нужно вызвать команду
    <p><font face = "Terminal">sudo ldconfig</font></p>
        для обновления кэша библиотек
    </li>
    <p></p>
    <li>Сначала нужно открыть порт. Для Windows имя порта образуется по шаблону:</li>

    <p><code>com:\\.\COMxx</code></p>
</ul>
<ul>
    Например, если нужен 19-й порт, написать:
    <p><code>com:\\.\COM19</code></p>
 </ul>
<ul>
    Для Linux:
    <p><code>com:///dev/ttyACM19</code></p>
</ul>
<ul>
    <li>Можно работать</li>
</ul>

{% end %}