{% extends "help.html" %}

{% block help %}

<h1> uRPC </h1>
<p align="justify">
uRPC - web интерфейс, при помощи которого создаётся, сохраняется и загружается протокол взаимодействия устройств. По готовому протоколу, в свою очередь, можно скачать готовую и работающую <a href="/helpfirmware">прошивку</a>, <a href="/helpfirmware">документацию</a> с описанием протокола, исходные коды кроссплатформенной <a href="/helplibrary">библиотеки</a> управления с подготовленными скриптами её сборки, графический <a href="/helpqt">интерфейс</a> для всех функций библиотеки, набор врапперов для управления библиотекой из разнообразных языков программирования (<a href="/helppython">Python</a>, <a href="/helpcsharp">C#</a>) и другие дополнительные решения. В результате, после создания на web сайте протокола можно сгенерировать набор файлов, чтобы уже через 30 минут управлять микроконтроллером через GUI, через Python скрипты или другим удобным способом. Главная цель проекта - облегченный запуск новых электронных устройств с микроконтроллером, работающих под управлением компьютера.
</p>

<h2>Общие принципы работы <span class="caps">URPC</span></h2>
<p>Все коммуникации между ПК и микроконтроллером осуществляются по принципу <strong>клиент-сервер</strong>. При этом <strong>микроконтроллер является сервером</strong>, а <strong>ПК &#8211; клиентом</strong>. Это значит, что все коммуникации инициируются компьютером. Микроконтроллер не может отправить какие-либо данные на ПК самостоятельно, для этого ему требуется соответствующий запрос клиента (компьютера).</p>
<p><span class="caps">URPC</span> позволяет осуществлять коммуникации двух типов:</p>
<ul>
    <li>Коммуникации посредством команд.</li>
    <li>Коммуникации посредством аксессоров.</li>
</ul>
<h4>Коммуникация посредством команд</h4>
<ol>
    <li><strong>Клиент (ПК) готовит данные</strong> для отправки на сервер (данный этап не является обязательным, поскольку допускаются команды, не передающие никаких данных на сервер).</li>
    <li><strong>Клиент (ПК) отправляет запрос</strong> на выполнение команды на сервер (микроконтроллер). В запросе также передаются входные данные.</li>
    <li>После получения запроса <strong>на сервере (микроконтроллере) запускается обработчик</strong>, в котором производится обработка входных данных, собственно выполнение команды, подготовка выходных данных. По умолчанию <span class="caps">URPC</span> генерирует пустой обработчик, код обработчика пишется пользователем. Сразу после завершения обработчика сервер отправляет ответ клиенту вместе с набором выходных данных.</li>
    <li>Получив ответ сервера, клиент (ПК) передаёт управление пользовательской программе, которая может приступить к обработке выходных данных, полученных с сервера (допускаются команды без выходных данных).</li>
</ol>
<p>Входные и выходные данные никак не зависят друг от друга и могут иметь разный формат. Единственное ограничение: суммарный объём всех входных данных, также как и суммарный объём всех выходных данных не должен превышать 250 байт.<br />
Команды могут иметь входные и выходные аргументы, только входные аргументы, только выходные аргументы, а могут вообще не иметь аргументов.</p>
<h4>Коммуникация посредством аксессоров</h4>
<p>Аксессор &#8211; это специальная команда (а точнее set/get пара команд), предназначенная для работы с данными на сервере.<br />
Отправка данных с клиента на сервер осуществляется посредством set-функции аксессора, получение данных &#8211; посредством вызова get-функции аксессора. Обе функции могут быть вызваны только клиентом (ПК).<br />
Set-функция имеет только входные аргументы, get-функция &#8211; только выходные. Формат входных и выходных данных set и get функций одного аксессора должен быть одинаковым.<br />
Также как и в случае команд после получения set и get запросов аксессора  сервер (микроконтроллер) запускает соответствующие обработчики, содержание которых определяется пользователем.</p>

{% end %}