{% extends "help.html" %}

{% block help %}

<h1>Python-биндинги</h1>
<i>Требуется: сгенерированная <a href="/helplibrary">библиотека</a></i>
<h3>Описание</h3>
<img src="{{static_url('img/URPC_python_binding.png')}}"/>
<p>
    Python-биндинги генерируются с помощью кнопки Generate в разделе Bildings.<br/>
    <br/>
    Python-биндинги - это файлы Python, которые позволяют общаться с устройством на языке Python. По сути это
    python-обёртка для библиотеки, написанной на C. Результатом работы этого генератора является файл
    <code>(имя_протокола).py</code>. В файле <code>(имя_проекта).py</code> описаны все константы библиотеки, структуры
    данных и класс <code>DeviceHandle</code>, с объектами которого можно общаться как с устройствами.
</p>

<h3> Инструкция по сборке и запуску</h3>
<p>
<p>
    Python файл не требует сборки. Просто поместите собранную библиотеку рядом с файлом .py из сгенерированного uRPC
    архива.<br/>
</p>
<p>
    <i>Не забудьте, что битность собранной библиотеки и битность вашего интерпретатора должны совпадать</i>
</p>
<h3> Пример работы с биндингом</h3>
<p>
    Пусть в протоколе устройства Foo есть команда supercommand, и устройство подключено к порту 42. Тогда из python
    команду можно вызвать так:
    <pre><code class="python">
        from foo import FooDeviceHandle

        dev = FooDeviceHandle(r"com:\\.\COM42")
        dev.supercommand()

        dev.close()
    </code></pre>
</p>

{% end %}