{% extends "help.html" %}

{% block help %}

<h2>Прошивка (генерируется uRPC)</h2>
<h3> Описание </h3>
<p align="justify">
По описанию протокола этот генератор способен создать проект (IAR) полноценной прошивки для целевого микроконтроллера.
    Список поддерживаемых контроллеров есть в выпадающем списке в разделе Firmware генератора.
    Для генерации нужной прошивки выберите свой контроллер в выпадающем списке и нажмите "Generate"
</p>
<h3> Инструкция по сборке </h3>
<p align="justify">
Инструкция по сборке и прошивке индивидуальна для каждого типа контроллера. Она описана в README.md и лежит в архиве
    сгенерированной прошивки
</p>

{% end %}