{% extends "help.html" %}

{% block help %}

<h2>Конвертер профилей (генератор C- или Python-профилей)</h2>
<i>Требует: JSON-профили</i>
<h4>Описание</h4>
<p align="justify">
    В uRPC есть возможность сохранять значения аксессоров (см. <a href="/help_general">общее устройство</a>) в файлы
    JSON. За это отвечают фукнции get_profile и set_profile. Благодаря этим функциям можно "заморозить" все настройки
    контроллера, сохранить их в файл json, а потом применить эти же настройки к другому контроллеру.
</p>
<p align="justify">
    Генератор профилей превращает json профиль в C-функцию, Python-функцию или специальную Python-функцию для работы
	с контроллерами XIMC. Каждая из этих фукнцкий последовательно вызывает set-функции аксессоров так, что настройки контроллера становятся равными настройкам, описанным в JSON-файле.
</p>
<p align="justify">
    <i>Если вы не знаете, зачем нужен этот генератор - скорее всего, он вам не нужен.</i>
</p>

<h4> Инструкция по работе</h4>

<p align="justify">
    <ol>
	<li>В секции "Profiles assembler" выберите в выпадающем списке необходимый формат конвертации профилей.</li>
    <li>В этой же секции нажмите кнопку "Выбрать файлы...".</li>
    <li>Выберите JSON-файлы профилей.</li>
    <li>Нажмите кнопку "Assemble".</li>
    <li>Для каждого JSON-профиля uRPC сгенерирует header-файл или py-файл (в зависимости от выбранного языка), в котором будет описана inline-функция для задания настроек из профиля.</li>
    </ol>

</p>

{% end %}