{% extends "help.html" %}

{% block help %}

<h1>Прошивка</h1>
<h3>Описание</h3>
<p>
    Генератор uRPC способен создать проект (IAR) полноценной прошивки для целевого микроконтроллера по описанию
    протокола.<br/>
    <br/>
    Перечень поддерживаемых контроллеров можно увидеть в выпадающем списке в разделе «Firmware» главной страницы. Для
    генерации прошивки выберите в списке нужный контроллер и нажмите кнопку «Generate».
</p>
<img src="{{static_url('img/URPC_Device_choosing.png')}}" />
<h3> Инструкция по сборке </h3>
<p>
    Инструкция по сборке и прошивке индивидуальна для каждого типа контроллера. После генерации прошивки ее можно найти
    в полученном архиве в файле README.md.
</p>

{% end %}