{% extends "help.html" %}

{% block help %}

<h1>Конвертер профилей (генератор C- или Python-профилей)</h1>
<i>Требуется: JSON-профили</i>
<i>Описание</i>

<p>
    <img src="{{static_url('img/URPC_profiles_assembler.png')}}"/>
</p>

<p>
    В uRPC есть возможность сохранять значения аксессоров (см. <a href="/help_general">общее устройство</a>) в файлы
    JSON. За это отвечают фукнции get_profile и set_profile. Благодаря этим функциям можно сохранить все настройки
    контроллера, записав их в файл .json, а потом применить эти же настройки к другому контроллеру.<br/>
    <br/>
    Генератор профилей превращает JSON-профиль в C-функцию или Python-функцию для работы с контроллерами XIMC. Каждая
    из этих фукнцкий последовательно вызывает set-функции аксессоров так, что настройки контроллера становятся равными
    настройкам, описанным в JSON-файле.<br/>
    <br/>
    Это служебный генератор. Если вы не знаете, как его использовать &#8211; скорее всего, он вам не нужен.
</p>

<i> Инструкция по работе</i>

<ol>
    <li>
        В секции "Profiles assembler" выберите в выпадающем списке необходимый формат конвертации профилей.
        <p>
            <img src="{{static_url('img/URPC_profiles_assembler_format.png')}}"/>
        </p>
    </li>
    <li>В этой же секции нажмите кнопку "Выбрать файлы...".</li>
    <li>Выберите JSON-файлы профилей.</li>
    <li>Нажмите кнопку "Assemble".</li>
    <li>
        Для каждого JSON-профиля uRPC сгенерирует header-файл или py-файл (в зависимости от выбранного языка), в
        котором будет описана inline-функция для задания настроек из профиля.
    </li>
</ol>

{% end %}