{% extends "help.html" %}

{% block help %}

<h1>Qt-отладчик</h1>
<p>Требуется: сгенерированная и собранная <a href="/helplibrary">библиотека и библиотека xibridge</a>.</p>

<h3>Описание</h3>
<img src="{{static_url('img/URPC_Qt.png')}}" />
<p>
    Qt-отладчик генерируется с помощью кнопки Generate в разделе Qt debugger.<br/>
    <br/>
    По описанию протокола генератор способен создать программу-дебаггер с графическим интерфейсом. Эта программа
    позволяет взаимодействовать (отправлять команды, смотреть результат) с реальными и виртуальными устройствами,
    работающими по данному протоколу. В сгенерированном архиве лежат исходные коды этой программы и проект для сборки.
</p>

<h2>Инструкция по сборке Qt-отладчика</h2>
<h3>Сборка под Windows</h3>
<i>Подготовка</i>
<ol>
    <li>
        Загрузите Qt 4.8.x с официального сайта или с нашего
        <a href="https://download.urpc.kea.su/qt_debugger/qt486_msvc2013_full.7z">сервера</a>.
    </li>
    <li>
        Установите Qt на диск C так, чтобы путь до бинарных файлов имел следующий вид
        <code>C:\Qt\msvc2013\4.8.6_x64\bin\</code> для 64-битных файлов и <code>C:\Qt\msvc2013\4.8.6\bin\</code> для
        32-битных.</li>
    <li>
        <a href="https://msdn.microsoft.com/ru-ru/library/office/ee537574.aspx" target="_blank">
            Прописать в системные пути:
        </a>
        каталог <code>C:\Qt\msvc2013\4.8.6_x64\bin\</code>
    </li>
</ol>
<i>Сборка</i>
<ol>
    <li>Сгенерируйте Qt-отладчик и распакуйте архив с исходным кодом отладчика.</li>
    <li>
        Положитее в каталог проекта файлы <code>&lt;имя_проекта&gt;.dll</code>, <code>xibridge.dll</code>,
        <code>&lt;имя_проекта&gt;.lib</code>, <code>&lt;имя_проекта&gt;.h</code> от предварительно скомпилированной
        <a href="/helplibrary">библиотеки</a>.
        <img src="{{static_url('img/URPC_libraries.png')}}"/>
        <img src="{{static_url('img/URMC_header_file.png')}}"/>
    </li>
    <li>
        Откройте CMake GUI и выберите папку с проектом (по аналогии со сборкой <a href="/helplibrary">библиотеки</a>).
    </li>
    <li>Cконфигурируйте проект для MSVC 2013 (необходимо выбрать такую же платформу, как и при сборке библиотеки
        &#8211; Win32 или x64).</li>
    <li>Cгенерируйте проект.</li>
    <li>Откройте в Visual Studio сгенерированный CMake-ом файл <code>uRPC_debugger.vcxproj</code>.</li>
    <li>Соберите проект.</li>
    <li>Запустите собранный файл.</li>
</ol>
<h3>Сборка под Linux</h3>
<ol>
    <li>Установите всё необходимое: Qt4, CMake, Make:
        <p><font face = "Terminal">sudo apt-get install libqt4-dev build-essential cmake</font></p>
	</li>
    <li>
        В каталоге (имя каталога не должно содержать круглых скобок) с распакованным архивом Qt-отладчика запустите
        cmake:
        <p><font face = "Terminal">cmake .</font></p>
    </li>
    <li>Не забудьте поместить заголовочный файл <code>&lt;имя_библиотеки&gt;.h</code> и файл библиотеки
        <code>&lt;имя библиотеки&gt;.so</code> от предварительно собранной библиотеки, а также 
        code>libxibridge.so</code> в каталог с распакованным архивом Qt-отладчика.
    </li>
    <li>Запустите make:
        <p><font face = "Terminal">make</font>
    </p>

    <li>Дождитесь окончания сборки.</li>
    <li>Запустите программу, предварительно добавив в переменную окружения путь к библиотеке:
    <p>
        <font face = "Terminal">
            export LD_LIBRARY_PATH=$LD_LIBRARY_PATH:`pwd`<br/>
            ./uRPC_debugger
        </font>
    </p>
    Заметьте, для работы с реальным устройством могут потребоваться права root.</li>
</ol>
<i>Уточнение для Ubuntu 20.04</i>
    <p>
        <i>Ubuntu 20.04 не поддерживает Qt4. Для установки пакета нужно сначала выполнить</i>
        <font face = "Terminal">sudo add-apt-repository ppa:rock-core/qt4</font>
        <i>, а уже затем </i><font face = "Terminal">sudo apt-get install libqt4-dev</font>.</p>
    </p>
<h3>Запуск и работа с программой</h3>
<ul>
    <li>
        Для работы программы требуется <code>&lt;имя_проекта&gt;.dll</code> и dll-ки от Qt (если Qt прописана в
        системные пути, то Qt-шные библиотеки должны найтись сами). Под Linux потребуются библиотеки .so. Путь к
        библиотеке должен быть прописан в переменной окружения LD_LIBRARY_PATH (см. выше "Сборка под Linux"). В
        некоторых версиях Linux после копирования библиотеки нужно вызвать команду:
        <p><font face = "Terminal">sudo ldconfig</font></p>
        для обновления кэша библиотек.
    </li>
    <li>
        <p>
            Сначала нужно открыть порт.<br/>
            <br/>
            Для Windows имя порта образуется по шаблону:<br/>
            <code>com:\\.\COMxx</code><br/>
            Например, если нужен 19-й порт, написать:<br/>
            <code>com:\\.\COM19</code><br/>
            Для Linux:<br/>
            <code>com:///dev/ttyACM19</code>
        </p>
    </li>
    <li>
        Можно работать.
    </li>
</ul>

{% end %}