{% extends "help.html" %}

{% block help %}

<h1>Создание проекта</h1>

<!-- Table of Content -->
<ol class="nested-list">
  <li>
    <a href="#proj-conf">
      Общая конфигурация проекта
    </a>
  </li>
  <li>
    <a href="#commands-creation">
      Создание команд
    </a>
    <ol class="nested-list">
      <li>
        <a href="#commands-defs">
          Определение команд
        </a>
      </li>
      <li>
        <a href="#add-commands-description">
          Добавление описания команд
        </a>
      </li>
      <li>
        <a href="#add-request-response-args">
          Добавление аргументов запроса и ответа команды
        </a>
      </li>
      <li>
        <a href="#add-arg-description">
          Добавление описания аргументов на русском и английском языках
        </a>
      </li>
      <li>
        <a href="#command-const-add">
          Добавление константы
        </a>
      </li>
      <li>
        <a href="#add-const-description">
          Добавление описания констант на русском и английском языках
        </a>
      </li>
    </ol>
  </li>
  <li>
    <a href="#add-accessors">
      Добавление аксессоров
    </a>
    <ol class="nested-list">
      <li>
        <a href="#accessors-def">
          Определение аксессоров
        </a>
      </li>
      <li>
        <a href="#add-accessors-description">
          Добавление описание аксессоров
        </a>
      </li>
      <li>
        <a href="#add-accessor-args">
          Добавление аргументов аксессора
        </a>
      </li>
      <li>
        <a href="#accessor-const-add">
          Добавление константы
        </a>
      </li>
    </ol>
  </li>
  <li>
    <a href="#extra-opts-add">
      Добавление дополнительных опций
    </a>
    <ol class="nested-list">
      <li>
        <a href="#is_service_command-tag">
          Ключ is_service_command
        </a>
      </li>
      <li>
        <a href="#is_test-tag">
          Ключ is_test
        </a>
      </li>
    </ol>
  </li>
  <li>
    <a href="#sources-gen">
      Генерация исходного кода проекта
    </a>
    <ol class="nested-list">
      <li>
        <a href="#fw-src-gen">
          Генерация исходного кода прошивки для микроконтроллера
        </a>
      </li>
      <li>
        <a href="#lib-src-gen">
          Генерация кода библиотеки
        </a>
      </li>
      <li>
        <a href="#save-proj-params">
          Сохранение параметры проекта
        </a>
      </li>
    </ol>
  </li>
</ol>
<!-- end of Table of Content -->

<hr>
<div class="section">
  <h3 id="proj-conf">1. Общая конфигурация проекта</h3>
  <p>Придумайте и задайте название проекта и версию. Нажмите кнопку «Update»</p>
  <img src="{{static_url('img/URPC_project_name.png')}}" alt="" />
</div>

<hr>
<div class="section">
  <h3 id="commands-creation">2. Создание команд</h3>

  <div class="section">
    <h4 id="commands-defs">2.1. Определение команд</h4>
    <img src="{{static_url('img/URPC_command_create.png')}}" alt="" />
    <p><strong><span class="caps">CID</span></strong> &#8211; это 4-буквенный идентификатор, который должен быть уникальным для каждой команды. CID не чувствителен к регистру, поэтому «MYID» и «myId» &#8211; это один и тот же идентификатор.</p>
    <p><strong>Name</strong> &#8211; это имя команды (такое же имя будет у функции вызова этой команды, а также будет включено в имена типов данных, связанных с этой командой). Рекомендуется писать имя команды в snake_case, иначе могут возникнуть проблемы при сборке.</p>
  </div>

  <div class="section">
    <h4 id="add-commands-description">2.2. Добавление описания команд</h4>
    <img src="{{static_url('img/URPC_command_description.png')}}"/>
    <p>После добавления команды нажмите <strong>Edit</strong> и добавьте описание команды на русском и английском языках в полях <strong>english</strong> и <strong>russian</strong> блока «Edit command properties». Ниже на странице задайте параметры, описанные в пунктах 2.3, 2.4, 2.5.</p>
  </div>

  <div class="section">
    <h4 id="add-request-response-args">2.3. Добавление аргументов запроса и ответа команды</h4>
    <img src="{{static_url('img/URPC_request_response_args.png')}}" alt="" />
    <p><strong>Name</strong> &#8211; имя аргумента. После генерации проекта к аргументам можно будет обращаться как к полям структуры по их именам. Рекомендуется писать имена аргументов в CamelCase, иначе могут возникнуть проблемы при сборке. </p>
    <p><strong>Length</strong> &#8211; длина массива. Если оставить это поле пустым, то аргумент будет обычной переменой. Если в поле Length указать число, то данный аргумент будет представлять собой массив из Length элементов.</p>
    <p>Суммарная длина всех аргументов команды не должна превышать 250 байт.</p>
    <p>Обработка команд производится с учётом их размера в байтах. Поэтому для обеспечения обратной совместимости с последующими версиями протокола необходимо, чтобы размер команды оставался постоянным. Для этого рекомендуется обеспечить запас по размеру команды путём добавления массива reserved.<br/>
      <br/>
      Пример:</p>
    <pre><code class="c">
    typedef struct
    {
      uint8_t foo;
      uint8_t reserved[41];
    }
    my_command_v1;
    // sizeof(my_command_v1) = 1 + 41 = 42

    typedef struct
    {
      uint8_t foo;
      uint8_t bar[3];
      uint8_t reserved[38];
    }
    my_command_v1;
    // sizeof(my_command_v2) = 1 + 3 + 38 = 42 = sizeof(my_command_v1)
    </code></pre>
  </div>

  <div class="section">
    <h4 id="add-arg-description">2.4. Добавление описания аргументов на русском и английском языках</h4>
    <p>Для этого нужно нажать на кнопку <strong>Edit</strong> рядом с соответствующим аргументом в списке и ввести описание в полях.</p>
    <img src="{{static_url('img/URPC_command_arg_description.png')}}"/>
  </div>

  <div class="section">
    <h4 id="command-const-add">2.5 Добавление константы</h4>
    <p>В случае, если какой-то из аргументов будет представлять собой некоторый набор флагов, или же просто требуется определить универсальный набор констант для прошивки микроконтроллера и программы для ПК, каждому из аргументов можно создать набор констант, которые будут зафиксированы в виде макроопределений в соответствующих заголовочных файлах.</p>
    <p>Константы могут быть определены только для скалярных типов аргументов.</p>
    <p>Имена констант рекомендуется писать в SCREAMING_SNAKE_CASE, иначе могут возникнуть проблемы при сборке.</p>
    <img src="{{static_url('img/URPC_command_const_add.png')}}"/>
  </div>

  <div class="section">
    <h4 id="add-const-description">2.6 Добавление описания констант на русском и английском языках</h4>
    <p>Для этого нажмите кнопку <strong>Edit</strong> рядом с соответствующей константой и введите описание в полях.</p>
    <img src="{{static_url('img/URPC_command_edit_const_description.png')}}" alt="" />
  </div>
</div>

<hr>
<div class="section">
  <h3 id="add-accessors">3. Добавление аксессоров</h3>

  <div class="section">
    <h4 id="accessors-def">3.1. Определение аксессоров</h4>
    В главном окне uRPC найдите раздел «Accessors»:
    <img src="{{static_url('img/URPC_accessor_create.png')}}" alt="" />
    <p><strong><span class="caps">AID</span></strong> &#8211; это 3-буквенный идентификатор, который должен быть уникальным
      для каждого аксессора. AID также не должен пересекаться с идентификаторами команд в формате G&lt;AID&gt; и S&lt;AID&gt;.
      То есть нельзя создавать аксессор с идентификатором «MID», если уже определена команда с идентификатором «GMID» или
      «SMID». AID не чувствителен к регистру, поэтому «MID» и «mId» &#8211; это один и тот же идентификатор.</p>
    <p><strong>Name</strong> &#8211; это имя аксессора (такое же имя будет у функции вызова этого аксессора, а также будет
      включено в имена типов данных, связанных с этим аксессором). Рекомендуется писать имя команды в snake_case, иначе
      могут возникнуть проблемы при сборке.</p>
    <p>Если аксессор создаётся только для того, чтобы обеспечить существование хотя бы одного аксессора в проекте, в поле
      <strong>Name</strong> рекомендуется задать имя <strong>«dummy»</strong>.</p>
    <img src="{{static_url('img/URPC_accessor_AID_Name.png')}}"/>
  </div>

  <div class="section">
  <h4 id="add-accessors-description">3.2. Добавление описание аксессоров</h4>
  <p>После добавления аксессора нажмите <strong>Edit</strong> и добавьте описание аксессора на русском и английском языках в
    полях <strong>english</strong> и <strong>russian</strong> блока «Edit accessor properties».</p>
  </div>

  <div class="section">
  <h4 id="add-accessor-args">3.3. Добавление аргументов аксессора</h4>
  <p><strong>Важно!</strong> для корректной работы аксессор должен содержать <strong>хотя бы один аргумент</strong></p>
  <p>Процесс добавления аргументов аксессоров аналогичен добавлению аргументов команд.</p>
  </div>

  <div class="section">
  <h4 id="accessor-const-add">3.4. Добавление константы</h4>
  <p>Константы аргументов аксессоров аналогичны константам аргументов команд.</p>
  </div>
</div>

<hr>
<div class="section">
  <h3 id="extra-opts-add">4. Добавление дополнительных опций</h3>
  <img src="{{static_url('img/URPC_command_edit_options.png')}}" alt="Edit field for extra options" />
  <p>Все сущности: команды, аксессоры, проект &#8211; поддерживают дополнительные опции в формате «ключ=значение»,
    задаваемые в окне «Extra Options». Задаются такие пары через запятую: «ключ1=значение1, ключ2=значение2, ...».
    Эти дополнительные опции влияют на последующую генерацию прошивок, веб-страницы, библиотеки и так далее. Если
    генератор знает, как использовать переданный ключ и значение, то он его использует. Неизвестные ключи он
    игнорирует. Таким образом, можно добавлять свои ключи и дописывать их поддержку в нужных генераторах, чтобы
    кастомизировать uRPC.</p>
  <p>На данный момент поддерживаются следующие ключи: «is_service_command» и «is_test».</p>
  <img src="{{static_url('img/URPC_options_tag_example.png')}}" alt="Filled options with two tags" />
  <p>В случае известных ключей uRPC помечает команды соотевтсвующим тегом-картинкой, как на скриншоте ниже.</p>
  <img src="{{static_url('img/URPC_options_tag_example_result.png')}}" alt="Two tags view in protocol web page" />
  <p>В этом примере команду stop настроили с двумя ключами: «is_test=True» и «is_service_command=True».</p>
  <p>Чтобы снабдить свой ключ тэгом-изображением, необходимо создать изображение с именем
    <code>&lt;tag-name&gt;.png</code>, положить его в директорию <code>uRPC\frontend\static\tags\</code>. После этого
    все команды с настройкой «&lt;tag-name&gt;=True» будут помечены вашим тэгом-изображением.
  </p>

  <div class="section">
    <h4 id="is_service_command-tag">4.1. Ключ is_service_command</h4>
    <p> Сервисные команды &#8211; это команды, которые используются при производстве и обслуживании устройств, но не
      должны запускаться пользователем. Часто при необдуманном использовании таких команд можно что-то сломать.
      Примеры: установка ключа шифрования, установка каких-нибудь калибровок... Также к сервисным командам можно
      отнести команды, которые пользователь просто не должен запускать: установка серийного номера, переход в
      бутлоадер...<br/>
      <br/>
      Чтобы отличить сервисные команды от обычных используется комбинация «ключ-значение» - «is_service_command=True».<br/>
      <br/>
      uRPC позволяет нажатием кнопки «Remove» убрать из протокола все сервисные команды.
    </p>
    <img src="{{static_url('img/URPC_remove_button.png')}}" alt="Remove button"/>
  </div>

  <div class="section">
    <h4 id="is_test-tag">4.2 Ключ is_test</h4>
    <p>Этим ключом вы можете помечать тестовые функции.</p>
  </div>
</div>

<hr>
<div class="section">
  <h3 id="sources-gen">5. Генерация исходного кода проекта</h3>
  <p>Чтобы сгенерировать исходный код, нужно перейти на главную страницу проекта. Это можно сделать, кликнув по ссылке Home слева вверху.</p>
  <p>Для генерации кода проекта выполните три шага:</p>

  <div class="section">
    <h4 id="fw-src-gen">5.1. Генерация исходного кода прошивки для микроконтроллера</h4>
    <p>Алгоритм генерации прошивки описан в главе «Прошивка».</p>
    <p>На панели справа в разделе <strong>Firmware</strong> из выпадающего списка <strong>выбрать микроконтроллер</strong>
      и нажать <strong>Generate</strong>.<br />
      Сохранить архив с кодом.
    </p>
  </div>

  <div class="section">
    <h4 id="lib-src-gen">5.2 Генерация кода библиотеки</h4>
    <p>Алгоритм генерации библиотеки описан в главе «Библиотека».</p>
    <p>На панели справа в разделе <strong>Library</strong> нажать <strong>Generate</strong>.<br />
        Сохранить архив с кодом.</p>
  </div>

  <div class="section">
    <h4 id="save-proj-params">5.3 Сохранение параметры проекта</h4>
    <p>На панели справа в разделе <strong>Project</strong> нажмите <strong>Save</strong>.<br />
        Сохраните <span class="caps">JSON</span>-файл.</p>
    <img src="{{static_url('img/URPC_project_saving.png')}}" alt=""/>
  </div>
</div>

{% end %}
