{% extends "help.html" %}

{% block help %}

<h1>Библиотека</h1>
Требуется: релиз библиотеки xibridge (берется автоматически).
<h3> Описание </h3>
<p align="justify">
    Библиотека - это то, что нужно компьютеру для общения с устройством по вашему протоколу. В ней реализован
    API для отправки запросов контроллеру, ожидания и распознавания ответов от него. Таким образом, в этой библиотеке
    нуждаются все программы, работающие с устройством, например, <a href="/helpqt">Qt отладчик</a>,
    <a href="/helppython">скрипты</a>, <a href="/helptango">TANGO</a>, а также ваши собственные программы.<br/>
    <br/>
    Библиотека предоставляется в виде исходных кодов C\C++ и CMakeLists файла, с помощью которого можно создать файл
    проекта для любой среды программирования (и любого компилятора C\C++). Например, можно сгенерировать проект для
    Microsoft Visual Studio, Code::Blocks, GNU Makefile и пр. Для лучшего ознакомления с CMake, пожалуйста, посмотрите
    официальную документацию на сайте <a href="https://cmake.org/">CMake</a>.
</p>

<h3>Инструкция по сборке CMake-проекта библиотеки</h3>

<h3>Сборка под Windows</h3>
<p>Для сборки библиотеки выполните шаги:</p>
<p align="justify">
<ol class="nested-list">
    <li>В разделе «Library» главной страницы сгенерируйте библиотеку, нажав кнопку «Generate».</li>
    <img src="{{static_url('img/URPC_library_generation.png')}}" alt=""/>
    <li>Распакуйте полученный архив. </li>
    <li>Запустите CMake GUI. Скачайте его с официального сайта <a href="https://cmake.org/">CMake</a> и установите,
        если этого не было сделано ранее.
        <img src="{{static_url('img/URPC_CMake_window.png')}}" alt=""/>
        <ol class="nested-list">
            <li>Нажмите кнопку «Browse Source...» и укажите путь до папки библиотеки, сгенерированной на 1 шаге (в этой
                папке находится файл CMakeLists.txt).</li>
            <img src="{{static_url('img/URPC_CMake_src_dir.png')}}"/>
            <li>Нажмите кнопку «Browse Build...» и укажите путь к папке, в которую будут перемещены сгенерированные в ходе
                работы CMake файлы проекта.</li>
            <img src="{{static_url('img/URPC_CMake_build_dir.png')}}"/>
            <li>Нажмите кнопку «Configure». Откроется новое окно.</li>
            <img src="{{static_url('img/URPC_CMake_Configure.png')}}"/>
            <li>На Windows обычно используется «Visual Studio 12 2013». Обратите внимание на разрядность (32 / 64). В
                старых версиях CMake ее можно найти в общем списке после имени среды, в новых версиях - задаётся в
                отдельном списке.</li>
            <img src="{{static_url('img/URPC_CMake_Generator.png')}}"/>
            <li>Нажмите кнопку «Generate».</li>
            <img src="{{static_url('img/URPC_CMake_Generate.png')}}"/><br/>
            Теперь у вас есть файлы проекта для интересующей вас IDE/Сборщика!
        </ol>
    </li>
    <li>Соберите библиотеку.<br/>
        <br/>
        Для работы библиотеки под Windows понадобятся распространяемые пакеты Visual Studio в
        зависимости от версии. Пакеты для Visual Studio скачиваются с официального сайта, для VS2013, например,
        <a href="https://www.microsoft.com/ru-RU/download/details.aspx?id=40784">здесь</a>.<br/>
        <br/>
        Заметьте, установщик зависит от битности системы.
        <ol class="nested-list">
            <li>Откройте в Visual Studio сгенерированный CMake-ом файл <code>&lt;имя_проекта&gt;.sln</code>.</li>
            <li>Укажите тип сборки Release.</li>
            <img src="{{static_url('img/URPC_VS_Release.png')}}"/>
            <li>В главном меню выберите BUILD -> Build solution.</li>
            <li>Дождитесь успешной сборки.</li>
        </ol>
    </li>
</ol>

<h3>Сборка под linux</h3>
<p>Для сборки библиотеки выполните шаги:</p>
<ol class="nested-list">
    <li>Установите пакеты разработчика (g++, gcc, make...) через терминал:
        <p><font face="Terminal">sudo apt-get install build-essential cmake</font></p>
    </li>
    <li>Загрузите архив с библиотекой, распакуйте его</li>
    <li>В директории src в распакованном архиве библиотеки запустите терминал и выполните:
        <p><font face = "Terminal">cmake .</font></p>
    </li>
    <li>В этой же директории выполните:</li>
        <p><font face = "Terminal">make</font></p>
    <li>В результате сборки получится библиотека .so. Чтобы ваши программы (и Qt-отладчик) находили библиотеку,
        добавьте путь к библиотеке в переменную LD_LIBRARY_PATH. Например, если хотите из оболочки запустить программу,
        которая использует библиотеку, наберите в командной строке:</li>
        <p><font face = "Terminal">export LD_LIBRARY_PATH=$LD_LIBRARY_PATH:путь_к_директории_с_библиотекой</font></p>
    <li>Готово. Для использования библиотеки в ваших программах достаточно добавить заголовочный файл
        <code>&lt;имя_протокола&gt;.h</code> (лежит в директории с распакованным архивом библиотеки).</li>
</ol>

<h3>Документация к API</h3>
<p align="justify">
    Интерфейс C библиотеки документирован в формате <a href="http://www.doxygen.nl">Doxygen</a>. С помощью Doxygen
    можно получить документ с описанием интерфейса всех C функций, стуктур данных, констант и пр. Для этого
    комментарии в C библиотеке должны быть правильно оформлены (Все возможности Doxygen можно посмотреть на
    официальном  сайте).
</p>
<h4>Сборка Doxygen документации</h4>
В Linux:
<ol>
    <li>
        Установите все необходимые пакеты для работы:
        <p><font face = "Terminal">sudo apt-get install doxygen texlive-latex-base texlive-fonts-recommended
        texlive-fonts-extra texlive-latex-extra</font></p>
    </li>
    <li>
        В директории с архивом сгенерированной библиотеки запустите Doxygen:
        <p><font face = "Terminal">Doxygen .</font></p>
    </li>
    <li>
        В появившейся папке latex выполните:
        <p><font face = "Terminal">make</font></p>
    </li>
</ol>
<p>Готово, файл refman.pdf появился в директории latex.</p>
<p>В Windows:</p>
<p>
    Инструкция сборки для Windows аналогична инструкции сборки для Linux, но пакеты Doxygen и texlive нужно установить
    вручную.<br/>
    <br/>
    Texlive для Windows можно взять, например, с <a href="https://miktex.org">miktex</a>; Doxygen &#8211; с
    официального сайта проекта <a href="http://www.doxygen.nl/download.html">Doxygen</a>.
</p>


<h3> Пример работы с библиотекой </h3>
<p>Пусть в протоколе устройства Foo есть команда supercommand, и устройство подключено к порту 42. Тогда код на C для
    вызова этой команды выглядел бы примерно так:</p>
<pre><code class="C">
    #include "foo.h"

    device_t my_device = foo_open_device("com:\\\\.\\COM42");
    foo_supercommand(my_device);
    foo_close_device(&my_device);
</code></pre>
<p>Файл foo.h из сгенерированного uRPC архива библиотеки должен лежать рядом. Также при компиляции этого примера нужно
будет прилинковать собранную библиотеку .lib или .so .</p>
<br>
<br>

{% end %}
